.messages {

  &__row {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    box-shadow: 0 0.5px rgba(171, 165, 165, 0.2);

    &:hover {
      cursor: pointer;
      box-shadow: 0 0.5px rgba(255, 165, 0, 1), 0 -0.5px 0 rgba(255, 165, 0, 1);
    }

  }

  &__img {
    position: relative;

    &-image {
      width: 10px;
      height: 10px;
      margin-right: 20px;
      position: relative;
      z-index: 1;
    }

    &::before {
      width: 30px;
      height: 30px;
      background-color: grey;
      content: '';
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: -10px;
      z-index: 0;
    }
  }

  &__name {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 15px;
    padding-left: 40px;
    width: 200px;

    &:hover {
      cursor: pointer;
    }

    &--active {
      color: orange;
    }

    &:first-child {
      margin-top: 10px;
    }
  }

  &__parents {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 15px;
    padding-left: 40px;
    width: 150px;

    &--active {
      color: orange;
    }

    &:nth-child(2) {
      margin-top: 10px;
    }
  }

  &__born {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 15px;
    padding-left: 40px;

    &--active {
      color: orange;
    }

    &:nth-child(3) {
      margin-top: 10px;
    }
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid orange;
  position: absolute;
  left: -30px;
  top: calc(50% - 5px);
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked+span:after {
  width: 5px;
  top: -3px;
  left: -27px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
