.aside {
  width: 20%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);

  &__img {
    border: 1px solid orange;
    max-width: 200px;
    box-sizing: content-box;
  }

  &__button {
    width: 100%;
    height: 200px;
    color: #fff;
    background-color: orange;
    border: none;
    outline: none;
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }
}