.main {
  width: 75%;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__input {
    border: 1px solid orange;
    outline: none;
    color: orange;
    background-color: transparent;
    padding: 0 5px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: orange;
      text-align: right;
    }
  }
}

.button {
  border: none;
  outline: none;
  background-color: transparent;

  &--active {
    text-decoration: underline;

  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}